<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Signup/Signin page idea (2/2)</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-signup l-attop" id="login">
  <div class="login-signup-title">
    LOG IN
  </div>
  <div class="login-signup-content">
    <div class="input-name">
      <h2>Username</h2>

    </div>
    <input type="text" name="username" value="" class="field-input" />
    <div class="input-name input-margin">
      <h2>Password</h2>

    </div>
    <input type="text" name="password" value="" class="field-input" />
    <div class="input-r">


      <div class="check-input">
        <input type="checkbox" id="remember-me-2" name="rememberme" value="" class="checkme">
        <label class="remmeberme-blue" for="remember-me-2"></label>
      </div>
      <div class="rememberme"><label for="remember-me-2">Remember Me</label></div>
    </div>
    <button class="submit-btn">
          Enter
        </button>


    <div class="forgot-pass">
      <a href="#">Forgot Password?</a>
    </div>

  </div>
</div>


<div class="login-signup s-atbottom" id="signup">
  <div class="login-signup-title">
    SIGN UP
  </div>
  <div class="login-signup-content">
    <div class="input-name">
      <h2>Username</h2>

    </div>
    <input type="text" name="username" value="" class="field-input" />
    <div class="input-name input-margin">
      <h2>E-Mail</h2>

    </div>
    <input type="text" name="email" value="" class="field-input" />
    <div class="input-name input-margin">
      <h2>Password</h2>

    </div>
    <input type="text" name="password" value="" class="field-input" />

    <button class="submit-btn">
              Enter
            </button>


  </div>
</div>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
